@import '../settings/colors';
@import '../settings/spacing';
@import '../settings/animations';

$button-height: 46px;
$button-min-width: 97px;
$button-border-width: 2px;
$button-font-size: 18px;
$button-icon-size: 12px;

.button {
    transition: background $easing-standard, color $easing-standard, border $easing-standard;
    height: $button-height;
    padding: $space * 2;
    border: $button-border-width $white solid;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: $button-min-width;
    font-size: 18px;
    text-align: center;
    background: none;
    color: $white;
    position: relative;

    &:focus {
        outline: none;
    }

    &--primary,
    &--secondary {
        position: relative;
        z-index: $z-on-top;

        &:after {
            content: "";
            z-index: $z-background;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 100%;
            overflow: hidden;
            background: $white;
            box-sizing: border-box;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.2s 0s cubic-bezier(0.4, 0, 0.2, 1);
            pointer-events: none;
        }
    }

    &--primary {
        @include breakpoint(desktop) {
            &:hover,
            &:focus {
                border: $button-border-width $white solid;
                color: $primary;

                &:after {
                    transform: scaleX(1);
                }
            }
        }
    }

    &--secondary {
        background: transparent;
        border: $button-border-width solid $secondary;
        color: $secondary;

        &:after {
            background: $secondary;
        }

        @include breakpoint(desktop) {
            &:hover,
            &:focus {
                color: $white;
                border: $button-border-width solid $secondary;

                &:after {
                    transform: scaleX(1);
                }
            }
        }
    }
}
