@import '../settings/colors';
@import '../settings/spacing';
@import '../settings/fonts';
@import '../settings/z-index';
@import '../utils/breakpoints';

.login-modal {
    background: $primary;
    color: $white;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    z-index: $z-modal;
    position: fixed;
    display: none;

    &.active {
        opacity: 1;
        pointer-events: auto;
        display: flex;
    }

    &__wrapper {
        width: 100%;
        max-width: 520px;
        padding: 15px;
    }

    &__intro {
        font-size: 15px;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin-bottom: 50px;
    }

    &__info {
        font-size: 48px;
        line-height: 42px;
        font-family: $font-heading;
    }

    &__info-wrapper {
        margin: 30px 0;
        display: flex;
    }

    &__text,
    &__field {
        display: inline-block;
    }

    &__text {
        font-size: 30px;

        @include breakpoint(tablet) {
            font-size: 48px;
        }
    }

    &__field {
        background: none;
        border: none;
        color: $white;
        font-size: 48px;
        font-family: $font-heading;
        position: relative;
        border-bottom: 2px $white solid;
        flex: 1 0 auto;
        margin-left: 30px;
        transform: translateY(-5px);
        text-overflow: ellipsis;

        &:focus {
            outline: none;
        }
    }

    &__alert {
        margin: 30px 0;
        opacity: 0;
        pointer-events: none;

        &.active {
            opacity: 1;
        }

        &-text {
            font-size: 16px;
        }

        &-icon {
            font-size: 20px;
            transform: translateY(5px);
            margin-right: 10px;
        }
    }

    &__button {
        opacity: 0.5;
        pointer-events: none;

        &.active {
            opacity: 1;
            pointer-events: auto;
        }
    }
}
