@import '../settings/colors';
@import '../settings/spacing';
@import '../settings/fonts';
@import '../settings/z-index';
@import '../utils/breakpoints';

.todo-panel {
    width: 100vw;
    min-height: 100vh;
    height: auto;
    background: $off-white;
    display: flex;
    justify-content: center;
    $todo-panel: &;

    &__wrapper {
        padding: 60px 15px 15px 15px;
        max-width: 800px;
        width: 100%;
    }

    &__header {
        display: flex;
        justify-content: flex-end;
    }

    &__header-button {
        opacity: 0.5;
        pointer-events: none;

        &.active {
            opacity: 1;
            pointer-events: auto;
        }
    }

    &__inline-button {
        background: none;
        font-size: 16px;
        color: $grey-mid;
        margin-bottom: 15px;

        @include breakpoint(desktop) {
            &:hover,
            &:focus {
                color: $charcoal;
            }
        }
    }

    &__content {
        background: $white;
        padding: 20px 20px;

        @include breakpoint(tablet) {
            padding: 70px 140px;
        }
    }

    &__content-header {
        display: flex;
        width: 100%;
        margin-bottom: 40px;
        flex-direction: column;
        padding-top: 20px;

        @include breakpoint(tablet) {
            flex-direction: row;
            margin-bottom: 70px;
        }
    }

    &__content-field {
        flex: 1 0 auto;
        font-size: 18px;
        border: none;
        border-bottom: 2px $charcoal solid;
        font-family: $font-heading;
        text-overflow: ellipsis;

        &::placeholder {
            color: $grey-mid;
            font-size: 18px;
            font-family: $font-heading;
        }

        @include breakpoint(tablet) {
            font-size: 24px;

            &::placeholder {
                color: $grey-mid;
                font-size: 24px;
                font-family: $font-heading;
            }
        }

        @include breakpoint(tablet) {
            &:focus,
            &:hover {
                outline: none;
            }
        }
    }

    &__item-text {
        width: calc(100% - 35px);
        margin-left: 35px;
        border-bottom: 2px $white solid;
        flex: 1 0 auto;
        font-size: 18px;
        font-family: $font-heading;

        @include breakpoint(tablet) {
            font-size: 24px;
        }
    }

    &__header-button {
        margin-left: 0;
        margin-top: 30px;

        @include breakpoint(tablet) {
            margin-top: 0;
            margin-left: 30px;
        }
    }

    &__list-title {
        color: $primary;
        font-size: 21px;
        font-family: $font-heading;
        margin-bottom: 35px;
    }

    &__items {
        width: 100%;
    }

    &__todo-item {
        width: 100%;
        display: block;
        position: relative;
        padding: 15px 0;

        @include breakpoint(desktop) {
            &:hover,
            &:focus {
                #{$todo-panel}__remove-button {
                    opacity: 0.3;

                    &:hover,
                    &:focus {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__remove-button {
        opacity: 0.3;
        margin: 0;
        padding: 0;
        transform: translateY(2px);
        position: absolute;
        background: none;

        @include breakpoint(desktop) {
            opacity: 0;
            transform: translateY(8px);
        }
    }

    &__todo-icon {
        font-size: 20px;
        color: $secondary;
    }
}