@font-face {
    font-family: "icons";
    /* stylelint-disable */
    src: url("../fonts/icons/icons.eot?e5f965086d404facf492347d16b6859b?#iefix") format("embedded-opentype"),
url("../fonts/icons/icons.woff2?e5f965086d404facf492347d16b6859b") format("woff2"),
url("../fonts/icons/icons.woff?e5f965086d404facf492347d16b6859b") format("woff"),
url("../fonts/icons/icons.ttf?e5f965086d404facf492347d16b6859b") format("truetype"),
url("../fonts/icons/icons.svg?e5f965086d404facf492347d16b6859b#icons") format("svg");
    /* stylelint-enable */
}

i[class^="icon-"],
i[class*=" icon-"] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

i[class^="icon-"]:before,
i[class*=" icon-"]:before {
    /* stylelint-disable */
    font-family: icons;
    /* stylelint-enable */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-alert:before {
    content: "\f101";
}

.icon-close:before {
    content: "\f102";
}
