/* MEDIA BREAKPOINTS */
/* COLOR DEFINITIONS */
/* GREYSCALE */
/* COLOR SWATCHES */
/* COLOR ASSIGNMENTS */
/* COLOR DEFINITIONS */
/* GREYSCALE */
/* COLOR SWATCHES */
/* COLOR ASSIGNMENTS */
/* COLOR DEFINITIONS */
/* GREYSCALE */
/* COLOR SWATCHES */
/* COLOR ASSIGNMENTS */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html,
* {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

.reveal-on-enter {
  opacity: 0; }

button {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  font: inherit;
  cursor: pointer;
  overflow: visible;
  border: none;
  border-radius: 0; }
  button, button:hover, button:active, button:focus {
    text-decoration: none;
    border: none; }
  button:focus, button:active {
    background-color: inherit;
    color: inherit; }
  button::-moz-focus-inner {
    border: 0;
    padding: 0; }

/* COLOR DEFINITIONS */
/* GREYSCALE */
/* COLOR SWATCHES */
/* COLOR ASSIGNMENTS */
/* MEDIA BREAKPOINTS */
html {
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  width: 100vw; }

body {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  color: #111111;
  font-family: "GT Walsheim Regular", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.64;
  background-color: #FFFFFF;
  font-size: 14px; }
  @media only screen and (min-width: 768px) {
    body {
      font-size: 15px; } }
  @media only screen and (min-width: 1024px) {
    body {
      font-size: 17px; } }
  body.sticky-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch; }
    body.sticky-footer main {
      flex-grow: 1; }

/* COLOR DEFINITIONS */
/* GREYSCALE */
/* COLOR SWATCHES */
/* COLOR ASSIGNMENTS */
a {
  transition: color 0.22s ease-out;
  text-decoration: none; }

@font-face {
  font-family: "icons";
  /* stylelint-disable */
  src: url("../fonts/icons/icons.eot?e5f965086d404facf492347d16b6859b?#iefix") format("embedded-opentype"), url("../fonts/icons/icons.woff2?e5f965086d404facf492347d16b6859b") format("woff2"), url("../fonts/icons/icons.woff?e5f965086d404facf492347d16b6859b") format("woff"), url("../fonts/icons/icons.ttf?e5f965086d404facf492347d16b6859b") format("truetype"), url("../fonts/icons/icons.svg?e5f965086d404facf492347d16b6859b#icons") format("svg");
  /* stylelint-enable */ }

i[class^="icon-"],
i[class*=" icon-"] {
  display: inline-flex;
  align-items: center;
  justify-content: center; }

i[class^="icon-"]:before,
i[class*=" icon-"]:before {
  /* stylelint-disable */
  font-family: icons;
  /* stylelint-enable */
  font-style: normal;
  font-weight: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-alert:before {
  content: "\f101"; }

.icon-close:before {
  content: "\f102"; }

/* MEDIA BREAKPOINTS */
/* COLOR DEFINITIONS */
/* GREYSCALE */
/* COLOR SWATCHES */
/* COLOR ASSIGNMENTS */
.h1, .inner h1,
.h2,
.inner h2,
.h3,
.inner h3,
.h4,
.inner h4,
.h5,
.inner h5,
.h6,
.inner h6 {
  margin-top: 0;
  line-height: 1.15;
  font-family: "GT Walsheim Pro Medium", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
  font-weight: 700;
  color: #111111;
  letter-spacing: 0; }

.h1, .inner h1 {
  font-size: 30px; }
  @media only screen and (min-width: 768px) {
    .h1, .inner h1 {
      font-size: 50px; } }
  @media only screen and (min-width: 1024px) {
    .h1, .inner h1 {
      font-size: 62px; } }


.h2,
.inner h2 {
  font-size: 24px; }
  @media only screen and (min-width: 1024px) {
    
    .h2,
    .inner h2 {
      font-size: 42px; } }


.h3,
.inner h3 {
  font-size: 24px; }
  @media only screen and (min-width: 1024px) {
    
    .h3,
    .inner h3 {
      font-size: 32px; } }


.h4,
.inner h4 {
  font-size: 22px; }
  @media only screen and (min-width: 1024px) {
    
    .h4,
    .inner h4 {
      font-size: 28px; } }


.h5,
.inner h5 {
  font-size: 18px; }
  @media only screen and (min-width: 1024px) {
    
    .h5,
    .inner h5 {
      font-size: 22px; } }


.h6,
.inner h6 {
  font-size: 16px; }
  @media only screen and (min-width: 1024px) {
    
    .h6,
    .inner h6 {
      font-size: 18px; } }

.p, .inner p,
.ul,
.inner ul,
.ol,
.inner ol,
.pre,
.inner pre,
.blockquote,
.inner blockquote {
  margin-bottom: 20px; }

.hr, .inner hr {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #A4A4A4;
  height: 1px;
  width: 100%;
  margin: 20px 0; }

.strong, .inner strong {
  font-weight: 700; }

.em, .inner em {
  font-style: italic; }

.p, .inner p {
  font-family: "GT Walsheim Regular", Helvetica, Arial, sans-serif;
  line-height: 1.64; }

.caption, .inner caption {
  font-size: 0.8rem; }

/* COLOR DEFINITIONS */
/* GREYSCALE */
/* COLOR SWATCHES */
/* COLOR ASSIGNMENTS */
.skin {
  background: #F6F3F2;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px; }
  .skin__link {
    color: #000000; }
  .skin__colour {
    background-clip: content-box;
    width: 100px;
    height: 100px;
    display: block;
    border: 1px solid #000000;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px; }
  .skin__background {
    display: inline-flex;
    padding: 5px; }
    .skin__background--dark {
      background: #000000; }

/* MEDIA BREAKPOINTS */
.fifty-fifty {
  width: 100%;
  position: relative;
  z-index: 0; }
  @media only screen and (min-width: 1024px) {
    .fifty-fifty {
      display: flex;
      margin: 0 -20px;
      width: calc(100% + 40px);
      align-items: flex-start;
      justify-content: center; }
      .fifty-fifty--vertically-centered {
        align-items: center; }
      .fifty-fifty--stretched {
        align-items: stretch; } }
  .fifty-fifty__child {
    min-width: 0;
    width: 100%;
    margin: 0 0 40px 0;
    position: relative; }
    @media only screen and (min-width: 1024px) {
      .fifty-fifty__child {
        width: 50%;
        margin: 20px; }
        .fifty-fifty__child:last-of-type {
          margin: 20px; } }
    .fifty-fifty__child--flex-center {
      display: flex;
      align-items: center;
      justify-content: center; }
    .fifty-fifty__child--full-height {
      height: 100%; }
    .fifty-fifty__child--no-margin {
      margin: 0; }
      @media only screen and (min-width: 1024px) {
        .fifty-fifty__child--no-margin {
          margin: 0; }
          .fifty-fifty__child--no-margin:last-of-type {
            margin: 0; } }

.footer {
  display: block; }

.header {
  display: block; }

/* COLOR DEFINITIONS */
/* GREYSCALE */
/* COLOR SWATCHES */
/* COLOR ASSIGNMENTS */
/* MEDIA BREAKPOINTS */
.page-strip {
  width: 100%;
  position: relative;
  margin: 40px 0;
  z-index: 0; }
  .page-strip--has-background {
    margin: 0;
    padding: 40px 0; }
    .page-strip--has-background > *:last-child {
      margin-bottom: 0; }
  .page-strip--has-bottom-background {
    margin-bottom: 0;
    padding-bottom: 40px; }
    .page-strip--has-bottom-background > *:last-child {
      margin-bottom: 0; }
  .page-strip--has-top-background {
    margin-top: 0;
    padding-top: 40px; }
  .page-strip--grey {
    background-color: #F6F3F2; }
  .page-strip--grey-top-half, .page-strip--grey-bottom-half {
    position: relative; }
    .page-strip--grey-top-half:before, .page-strip--grey-bottom-half:before {
      content: '';
      position: absolute;
      background-color: #F6F3F2;
      left: 0;
      top: 0;
      height: calc(50% + 40px);
      width: 100%;
      z-index: -1; }
  .page-strip--grey-bottom-half:before {
    top: auto;
    bottom: 0; }
  .page-strip--primary {
    background-color: #4E2D7F; }
  .page-strip--secondary {
    background-color: #DF0830; }
  .page-strip--tertiary {
    background-color: #111111;
    color: #FFFFFF; }
  .page-strip--on-top {
    z-index: 2; }

/* MEDIA BREAKPOINTS */
.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1180px;
  padding: 0 15px; }
  @media only screen and (min-width: 768px) {
    .wrapper {
      padding: 0 25px;
      overflow: visible; } }
  @media only screen and (min-width: 1024px) {
    .wrapper {
      padding: 0 30px; } }
  .wrapper--full-width {
    max-width: none;
    padding: 0; }

/* COLOR DEFINITIONS */
/* GREYSCALE */
/* COLOR SWATCHES */
/* COLOR ASSIGNMENTS */
.paging-info {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  background: #FFFFFF;
  max-width: 192px;
  z-index: 1;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1); }
  .paging-info--has-arrows {
    display: flex; }
  .paging-info:before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    text-align: center;
    right: 0;
    height: 20px;
    width: 1px;
    background-color: rgba(142, 142, 149, 0.1);
    margin: 0 auto;
    top: 14px;
    z-index: 2; }
  .paging-info__current-slide, .paging-info__total-slides {
    background: #FFFFFF;
    position: relative;
    display: inline-block;
    height: 48px;
    line-height: 48px;
    width: 48px;
    font-size: 1rem; }
  .paging-info__current-slide {
    color: #111111;
    letter-spacing: 0; }
  .paging-info__total-slides {
    color: #111111;
    letter-spacing: 0; }
  .paging-info__arrow {
    position: relative;
    bottom: 0; }

/* COLOR DEFINITIONS */
/* GREYSCALE */
/* COLOR SWATCHES */
/* COLOR ASSIGNMENTS */
.button {
  transition: background 0.22s ease-out, color 0.22s ease-out, border 0.22s ease-out;
  height: 46px;
  padding: 20px;
  border: 2px #FFFFFF solid;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 97px;
  font-size: 18px;
  text-align: center;
  background: none;
  color: #FFFFFF;
  position: relative; }
  .button:focus {
    outline: none; }
  .button--primary, .button--secondary {
    position: relative;
    z-index: 1; }
    .button--primary:after, .button--secondary:after {
      content: "";
      z-index: -1;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      overflow: hidden;
      background: #FFFFFF;
      box-sizing: border-box;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.2s 0s cubic-bezier(0.4, 0, 0.2, 1);
      pointer-events: none; }
  @media only screen and (min-width: 1024px) {
    .button--primary:hover, .button--primary:focus {
      border: 2px #FFFFFF solid;
      color: #4E2D7F; }
      .button--primary:hover:after, .button--primary:focus:after {
        transform: scaleX(1); } }
  .button--secondary {
    background: transparent;
    border: 2px solid #DF0830;
    color: #DF0830; }
    .button--secondary:after {
      background: #DF0830; }
    @media only screen and (min-width: 1024px) {
      .button--secondary:hover, .button--secondary:focus {
        color: #FFFFFF;
        border: 2px solid #DF0830; }
        .button--secondary:hover:after, .button--secondary:focus:after {
          transform: scaleX(1); } }

/* COLOR DEFINITIONS */
/* GREYSCALE */
/* COLOR SWATCHES */
/* COLOR ASSIGNMENTS */
/* MEDIA BREAKPOINTS */
.login-modal {
  background: #4E2D7F;
  color: #FFFFFF;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  z-index: 5;
  position: fixed;
  display: none; }
  .login-modal.active {
    opacity: 1;
    pointer-events: auto;
    display: flex; }
  .login-modal__wrapper {
    width: 100%;
    max-width: 520px;
    padding: 15px; }
  .login-modal__intro {
    font-size: 15px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 50px; }
  .login-modal__info {
    font-size: 48px;
    line-height: 42px;
    font-family: "GT Walsheim Pro Medium", Helvetica, Arial, sans-serif; }
  .login-modal__info-wrapper {
    margin: 30px 0;
    display: flex; }
  .login-modal__text, .login-modal__field {
    display: inline-block; }
  .login-modal__text {
    font-size: 30px; }
    @media only screen and (min-width: 768px) {
      .login-modal__text {
        font-size: 48px; } }
  .login-modal__field {
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 48px;
    font-family: "GT Walsheim Pro Medium", Helvetica, Arial, sans-serif;
    position: relative;
    border-bottom: 2px #FFFFFF solid;
    flex: 1 0 auto;
    margin-left: 30px;
    transform: translateY(-5px);
    text-overflow: ellipsis; }
    .login-modal__field:focus {
      outline: none; }
  .login-modal__alert {
    margin: 30px 0;
    opacity: 0;
    pointer-events: none; }
    .login-modal__alert.active {
      opacity: 1; }
    .login-modal__alert-text {
      font-size: 16px; }
    .login-modal__alert-icon {
      font-size: 20px;
      transform: translateY(5px);
      margin-right: 10px; }
  .login-modal__button {
    opacity: 0.5;
    pointer-events: none; }
    .login-modal__button.active {
      opacity: 1;
      pointer-events: auto; }

/* COLOR DEFINITIONS */
/* GREYSCALE */
/* COLOR SWATCHES */
/* COLOR ASSIGNMENTS */
/* MEDIA BREAKPOINTS */
.todo-panel {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background: #F6F3F2;
  display: flex;
  justify-content: center; }
  .todo-panel__wrapper {
    padding: 60px 15px 15px 15px;
    max-width: 800px;
    width: 100%; }
  .todo-panel__header {
    display: flex;
    justify-content: flex-end; }
  .todo-panel__header-button {
    opacity: 0.5;
    pointer-events: none; }
    .todo-panel__header-button.active {
      opacity: 1;
      pointer-events: auto; }
  .todo-panel__inline-button {
    background: none;
    font-size: 16px;
    color: #A4A4A4;
    margin-bottom: 15px; }
    @media only screen and (min-width: 1024px) {
      .todo-panel__inline-button:hover, .todo-panel__inline-button:focus {
        color: #111111; } }
  .todo-panel__content {
    background: #FFFFFF;
    padding: 20px 20px; }
    @media only screen and (min-width: 768px) {
      .todo-panel__content {
        padding: 70px 140px; } }
  .todo-panel__content-header {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    flex-direction: column;
    padding-top: 20px; }
    @media only screen and (min-width: 768px) {
      .todo-panel__content-header {
        flex-direction: row;
        margin-bottom: 70px; } }
  .todo-panel__content-field {
    flex: 1 0 auto;
    font-size: 18px;
    border: none;
    border-bottom: 2px #111111 solid;
    font-family: "GT Walsheim Pro Medium", Helvetica, Arial, sans-serif;
    text-overflow: ellipsis; }
    .todo-panel__content-field:-ms-input-placeholder {
      color: #A4A4A4;
      font-size: 18px;
      font-family: "GT Walsheim Pro Medium", Helvetica, Arial, sans-serif; }
    .todo-panel__content-field::placeholder {
      color: #A4A4A4;
      font-size: 18px;
      font-family: "GT Walsheim Pro Medium", Helvetica, Arial, sans-serif; }
    @media only screen and (min-width: 768px) {
      .todo-panel__content-field {
        font-size: 24px; }
        .todo-panel__content-field:-ms-input-placeholder {
          color: #A4A4A4;
          font-size: 24px;
          font-family: "GT Walsheim Pro Medium", Helvetica, Arial, sans-serif; }
        .todo-panel__content-field::placeholder {
          color: #A4A4A4;
          font-size: 24px;
          font-family: "GT Walsheim Pro Medium", Helvetica, Arial, sans-serif; } }
    @media only screen and (min-width: 768px) {
      .todo-panel__content-field:focus, .todo-panel__content-field:hover {
        outline: none; } }
  .todo-panel__item-text {
    width: calc(100% - 35px);
    margin-left: 35px;
    border-bottom: 2px #FFFFFF solid;
    flex: 1 0 auto;
    font-size: 18px;
    font-family: "GT Walsheim Pro Medium", Helvetica, Arial, sans-serif; }
    @media only screen and (min-width: 768px) {
      .todo-panel__item-text {
        font-size: 24px; } }
  .todo-panel__header-button {
    margin-left: 0;
    margin-top: 30px; }
    @media only screen and (min-width: 768px) {
      .todo-panel__header-button {
        margin-top: 0;
        margin-left: 30px; } }
  .todo-panel__list-title {
    color: #4E2D7F;
    font-size: 21px;
    font-family: "GT Walsheim Pro Medium", Helvetica, Arial, sans-serif;
    margin-bottom: 35px; }
  .todo-panel__items {
    width: 100%; }
  .todo-panel__todo-item {
    width: 100%;
    display: block;
    position: relative;
    padding: 15px 0; }
    @media only screen and (min-width: 1024px) {
      .todo-panel__todo-item:hover .todo-panel__remove-button, .todo-panel__todo-item:focus .todo-panel__remove-button {
        opacity: 0.3; }
        .todo-panel__todo-item:hover .todo-panel__remove-button:hover, .todo-panel__todo-item:hover .todo-panel__remove-button:focus, .todo-panel__todo-item:focus .todo-panel__remove-button:hover, .todo-panel__todo-item:focus .todo-panel__remove-button:focus {
          opacity: 1; } }
  .todo-panel__remove-button {
    opacity: 0.3;
    margin: 0;
    padding: 0;
    transform: translateY(2px);
    position: absolute;
    background: none; }
    @media only screen and (min-width: 1024px) {
      .todo-panel__remove-button {
        opacity: 0;
        transform: translateY(8px); } }
  .todo-panel__todo-icon {
    font-size: 20px;
    color: #DF0830; }

/* COLOR DEFINITIONS */
/* GREYSCALE */
/* COLOR SWATCHES */
/* COLOR ASSIGNMENTS */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-prev,
.slick-next {
  display: inline-block;
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: #4E2D7F;
  bottom: -80px;
  cursor: pointer;
  color: #FFFFFF; }

.slick-prev:hover,
.slick-next:hover {
  background-color: #6a3dac; }

.slick-prev--mid,
.slick-next--mid {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  z-index: 2; }

.slick-prev--alt,
.slick-next--alt {
  background-color: #DF0830; }
  .slick-prev--alt:hover,
  .slick-next--alt:hover {
    background-color: #f72d52; }

.slick-prev--mid {
  left: 10px; }

.slick-next--mid {
  right: 10px; }

/*# sourceMappingURL=main.css.map */
