/* COLOR DEFINITIONS */
$charcoal: #111111;
$minsk: #4E2D7F;
$red-ribbon: #DF0830;

/* GREYSCALE */
$grey-light: #8E8E95;
$grey-mid: #A4A4A4;
$off-white: #F6F3F2;
$white: #FFFFFF;
$black: #000000;

/* COLOR SWATCHES */
$primary: $minsk;
$secondary: $red-ribbon;
$tertiary: $charcoal;

/* COLOR ASSIGNMENTS */
$color-background-primary: $white;
$color-background-secondary: $off-white;
$color-text: $charcoal;
$color-link: $primary;
$color-hover: $secondary;
$color-placeholder: $grey-mid;
$color-border: $primary;
$color-disabled: $grey-light;
