<div class="login-modal active">
    <div class="login-modal__wrapper">
        <h2 class="login-modal__intro">Welcome to your TODO list</h2>

        <div class="login-modal__info">
            <div class="login-modal__info-wrapper">
                <label class="login-modal__text" for="user" >User:</label>
                <input class="login-modal__field" id="user" type="text" size="6" name="login" placeholder="">
            </div>

            <div class="login-modal__info-wrapper">
                <label class="login-modal__text" for="password">Password:</label>
                <input class="login-modal__field login-modal__field" id="password" type="password" size="4" placeholder="">
            </div>
        </div>

        <div class="login-modal__alert">
            <p class="login-modal__alert-text"><i class="icon-alert login-modal__alert-icon"></i> That is not the right info, please check the README file</p>
        </div>

        <button class="button button--primary login-modal__button" id="button-submit">Submit</button>
    </div>
</div>
