<div class="todo-panel">
    <div class="todo-panel__wrapper">
        <header class="todo-panel__header">
            <button class="todo-panel__inline-button" id="logout">Logout</button>
        </header>

        <div class="todo-panel__content">
            <div class="todo-panel__content-header">
                <input class="todo-panel__content-field" id="new-item" type="text" size="5" name="login" placeholder="Add your TODO item here">
                <button class="button button--secondary todo-panel__header-button" id="add-item">Add</button>
            </div>

            <div class="todo-panel__list">
                <h1 class="todo-panel__list-title"></h1>

                <ul class="todo-panel__items"></ul>

            </div>
        </div>
    </div>
</div>